.dashboard {
    display: grid;
    grid-template-areas:
                'header sidebar'
                'main sidebar';

    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 224px;
    gap: 8px;
    padding: 8px;
    margin: 0 auto;

    @media (max-width: 820px) {
        grid-template-areas:
        'header header'
        'main main'
        'sidebar sidebar';
    }
}

.header {
    grid-area: header;
    top: 0;
    display: flex;
    place-content: center;
    justify-content: flex-start;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (max-width: 820px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.main {
    grid-area: main;
    min-width: 550px;
}