@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.wrapper {
    display: block;
    animation: spin 1200ms linear infinite;
    opacity: 0.5;

    @media (prefers-reduced-motion: reduce) {
        animation: none;
    }
}

.wrapper svg {
    /*
      Ensure that the child is block so
      that it spins symmetrically
    */
    display: block;
}
