.grid {
    display: grid;
    grid-template-areas:
                'error error'
                'header header'
                'main sidebar';

    grid-template-columns: 1fr 224px;
    gap: 8px;
    padding: 8px;
    margin: 0 auto;

    @media (max-width: 820px) {
        grid-template-areas:
        'error error'
        'header header'
        'main main'
        'sidebar sidebar';
    }
}

.error {
    grid-area: error;
}

.header {
    grid-area: header;
    top: 0;
    display: flex;
    place-content: center;
    justify-content: flex-start;
}

aside {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 18px;

    @media (max-width: 820px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}


figure {
    margin: 0;
}

aside figure {
    flex-grow: 1;
    margin: 5px 5px;

    @media (max-width: 820px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex: 1 1 0;
    }
}

main {
    grid-area: main;
    min-width: 550px;
}