.dashboard {
    --grid-gap: 8px;
    display: grid;
    grid-template-areas:
                'error error'
                'header header'
                'main sidebar';

    grid-template-columns: 1fr 224px;
    gap: var(--grid-gap);
    padding: 8px;
    margin: 0 auto;

    @media (max-width: 820px) {
        grid-template-areas:
        'error error'
        'header header'
        'main main'
        'sidebar sidebar';
    }
}

.error {
    grid-area: error;
}

.header {
    grid-area: header;
    top: 0;
    display: flex;
    place-content: center;
    justify-content: flex-start;
    margin-top: calc(var(--grid-gap) * -1);
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 18px;

    @media (max-width: 820px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.main {
    grid-area: main;
    min-width: 550px;
}